* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'open sans', sans-serif;
} 
.heading{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
body{
  margin: auto;
  margin-top: 20px;
}
.container{
  max-width: 600px;
  margin: auto;
}
.menu img{
  height: 200px;
  width: 200px;
  border: 5px solid rgb(126, 47, 230);
}
.menu{
  margin:auto;
  display: block;
  text-align: center;
  padding-top: 50px;
  color: rgb(126, 47, 230);
  width: 350px;
  height: 500px;
  background-color: white;
  border: 5px solid rgb(126, 47, 230);
}
.menu h2{
  font-size: 30px;
  margin-top: 20px;
}
.start{
  border: 2px solid rgb(126, 47, 230);
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(126, 47, 230);
  cursor: pointer;
  margin-top: 30px;
}
.start:hover{
  background-color: gray;
}
fieldset{
  display: block;
  border: 1px solid rgb(126, 47, 230);
  border-radius: 10px;
  width: 300px;
  margin: auto;
  margin-top: 40px;
}
input{
  opacity: 0;
  width: 0;
  height: 0;
}
.prefix{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(126, 47, 230);
  color: white;
}
.selection{
  padding-left: 10px;
}
.choice{
  display: flex;
  margin: 2px;
  height: 60px;
  align-items: center;
  cursor: pointer;
}
input:hover ~ .prefix{
  background-color: gray;
}
input:checked ~ .prefix{
  background-color: gray;
}
.commit{
  border: 1px solid rgb(126, 47, 230);
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(126, 47, 230);
  cursor: pointer;
}
.commit:hover{
  background-color: gray;
}
.buttonHolder{
  text-align: center;
  margin-top: 10px;
}
.cq, .score{
  margin-top: 15px;
  font-size: 14px;
}
.stats{
  display: flex;
  justify-content: space-evenly;
}
.feedback{
  display: block;
  text-align: center;
  margin-top: 30%;
}
#next{
  border: 1px solid rgb(126, 47, 230);
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(126, 47, 230);
  cursor: pointer;
  margin-top: 40px;
}
#next:hover{
  background-color: gray;
}
.outcome{
  color: rgb(126, 47, 230);
}
.results{
  text-align: center;
}
.restart{
  border: 1px solid rgb(126, 47, 230);
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(126, 47, 230);
  cursor: pointer;
  margin-top: 40px;
}
.resultsWrapper{
  text-align: center;
}
@media only screen and (min-width: 640px){
  body{
    padding-top: 15%;
  }
  .feedback{
    margin-top: 15%;
  }
}
@media only screen and (min-width: 1200px){
  body{
    padding-top: 8%;
  }
}