* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'open sans', sans-serif;
} 
.heading{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
body{
  margin: auto;
  padding-top: 20%;
}
.menu{
  text-align: center;
  margin-top: 30%;
  color: rgb(13, 161, 219);
}
.menu h2{
  font-size: 30px;
}
.start{
  border: 2px solid rgb(13, 161, 219);
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(13, 161, 219);
  cursor: pointer;
  margin-top: 30px;
}
.start:hover{
  background-color: gray;
}
fieldset{
  display: flex;
  border: 1px solid rgb(13, 161, 219);
  border-radius: 10px;
  width: 300px;
  margin: auto;
}
input{
  opacity: 0;
  width: 0;
  height: 0;
}
.prefix{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(13, 161, 219);
  color: white;
}
.selection{
  padding-left: 10px;
}
.choice{
  display: flex;
  margin: 2px;
  height: 60px;
  align-items: center;
  cursor: pointer;
}
input:hover ~ .prefix{
  background-color: gray;
}
input:checked ~ .prefix{
  background-color: gray;
}
.commit{
  border: 1px solid rgb(13, 161, 219);
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(13, 161, 219);
  cursor: pointer;
}
.commit:hover{
  background-color: gray;
}
.buttonHolder{
  margin: 20px;
  text-align: center;
}
.cq{
  float: left;
}
.score{
  float: right;
}
.cq, .score{
  margin-top: 15px;
  font-size: 14px;
}
.feedback{
  display: block;
  text-align: center;
  margin-top: 30%;
  color: rgb(13, 161, 219);
}
#next{
  border: 1px solid rgb(13, 161, 219);
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: rgb(13, 161, 219);
  cursor: pointer;
  margin-top: 40px;
}
#next:hover{
  background-color: gray;
}